
@import "bootstrap";
@import 'pages.scss';
@import "jquery.atwho";
//=require jquery.atwho
@import "font-awesome";



body {
    padding-top: 70px;
  }
  
  .timeline-centered,
  .card,
  .jumbotron-fluid,
  .checkbox,
  .alert,
  input,
  textarea,
  a.dropdown-item {
    direction: rtl;
  }
  
  .btn-group {
    direction: ltr;
  }
  
  body, .dropdown-item {
    text-align: right;
  }
  